<div class="container">
  <header> <img src="../../../assets/imagem/logo_topo.png" style="height: 400px" style="width: 150px"></header>
<main>
  <router-outlet></router-outlet>
</main>
<nav>
  <ul>
    <li routerLinkActive="ativo" >
        <a routerLink="home">Home</a>
    </li>
    <li routerLinkActive="ativo">
        <a routerLink="cadastro">Cadastro de Medicamento</a>
    </li>
    <li routerLinkActive="ativo">
        <a routerLink="cadastro-paciente">Cadastro de Paciente</a>
    </li>
  </ul>
</nav>
</div>
